.app {
  text-align: center;
}
.aside {
  padding: var(--psLayoutSpacingLarge);
}

.authorName {
  font-weight: var(--psTypeFontWeightXLight);
  margin-bottom: 0;
}
.authorDetail {
  color: var(--psColorsGray02);
  margin: 0;
}
.authorDetailIcon {
  margin-right: var(--psLayoutSpacingXSmall);
}

.tags > div {
  margin: 0 var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingXXSmall) 0;
}

.skills {
  list-style: none;
}
